@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  text-decoration: none;
  list-style: none;
}

.pocemon-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  /* border: 2px solid black; */
  gap: 15px;
  padding: 50px;
}

.pocemon-item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 24px;
  width: 180px;
  height: 200px;
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}
.button {
  position: fixed;
  top: 0;
  left: 0;
  color: yellow;
  border: 1px solid;
  border-color: blueviolet;
  background-color: red;
  border-radius: 50px;
  margin: 20px;
  width: 30px;
  height: 30px;
}
.span1 {
  padding-bottom: 20px;
  padding-top: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
